<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intranet.app"> <!-- master_2B -->
    <uses-sdk
        android:minSdkVersion="2"
        android:targetSdkVersion="16"
        tools:overrideLibrary="dmax.dialog" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:protectionLevel="normal"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:protectionLevel="normal" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:protectionLevel="normal" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="normal" />

    <!-- GCM requires a Google account. -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:protectionLevel="normal" />

    <permission
        android:name="andoid.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="normal" />
    <permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="normal" />
    <permission
        android:name="android.permission.CAMERA"
        android:protectionLevel="normal" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.intranet.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:theme="@style/MyCustomTheme"
        android:vmSafeMode="true"
        tools:replace="android:icon">
        <activity
            android:name=".ui.Activity.SplashScreen.Welcomescreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.Activity.Login.LoginActivity" />
        <activity android:name=".ui.Activity.NavTest.Main3Activity" />
        <activity android:name=".ui.Activity.Nota.NotaActivity" />


        <activity android:name=".ui.Activity.HomePage.HomePageActivity" />
        <activity android:name=".ui.Activity.Daftar.DaftarActivity" />
        <activity android:name=".ui.Activity.DetailNota.DetailNotaActivity" />



    </application>

</manifest>